@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', serif;
}

.separa {
    border: 1px dashed gray;
}

.card {
    width: 40%;
    margin: 50px;
    float: left;
}

.foto-card {
    width: fit-content;
    box-shadow: 5px 5px 5px gray;
}

.art {
    width: 40%;
    margin: 50px;
    float: left;
}

.section {
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
}

.cover {
    position: relative;
}
.cover img{
    width: 100%;
}

.texto {
    width: 100%;
    height: 100%;
    background-color: rgba(195, 195, 195, 0.6);
    position: absolute;
    top: 0;
    opacity: 0;

}
.list{
    color: rgb(0, 0, 0);
    font-weight: 1000;
    font-size: 13px;
}
.list h3{
    text-decoration:underline dotted;
}
.texto:hover {
    opacity: 1;
}


/*  IDs  */

#titulo {
    color: aliceblue;
    text-shadow:0px 0px 10px black;
    text-decoration: overline;
}
#subtitulo {
    color: whitesmoke;
    text-shadow: 1px 1px 5px #000;
}
#header {
    width: 100%;
}
#skylab-card {
    width: 100%;
    float: left;
}
