@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', serif;
}

.separa {
    border: 1px dashed gray;
}

.card {
    width: 40%;
    margin: 50px;
    float: left;
}

.foto-card {
    width: fit-content;
    box-shadow: 5px 5px 5px gray;
}

.art {
    width: 40%;
    margin: 50px;
    float: left;
}

.section {
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
}

/*  IDs  */

#titulo {
    color: aliceblue;
    text-shadow:0px 0px 10px black;
    text-decoration: overline;
}
#subtitulo {
    color: whitesmoke;
    text-shadow: 1px 1px 5px #000;
}
#header {
    width: 100%;
}
#skylab-card {
    width: 100%;
    float: left;
}

.historia {
    text-size-adjust: 70%;
}